@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/* body {
  background: rgb(30, 30, 40);
} */
form {
  max-width: 350px;
  margin: 100px auto;
}

.feedback-input {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid rgb(18, 16, 16);
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #000000;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

.msg_btn {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 100%;
  background: rgb(18, 16, 16);
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
.msg_btn:hover {
  background: rgb(201, 194, 194);
}
